<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/received-amount/expenses/' + receivedAmountId"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Edit Expense' : 'Add Expense' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Expense Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Amount</ion-label>
        <ion-input type="number" formControlName="amount" inputmode="decimal"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date</ion-label>
        <ion-input type="date" formControlName="date"></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button type="submit" expand="block" [disabled]="expenseForm.invalid">
        {{ isEditMode ? 'Update' : 'Create' }} Expense
      </ion-button>
    </div>
  </form>
</ion-content>