ion-content {
  --background: var(--page-background-gradient);
  background-image: var(--page-background-image);
  background-size: cover;
  background-position: center;
}

ion-avatar{
  border:2px solid #b5b5b5;
}